.box {
  transition: box-shadow .3s;
  width: 400px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;

}
.box:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
