<form name="forgotPassword-form" class="login-form" action="" method="post">

  <div class="header">
    <h4>Forgot your Password?</h4>
    <span>Please, Enter the Credentials below</span>
  </div>

  <div class="content">
    <input name="Email" type="text" class="input username" placeholder="Email" [(ngModel)]="email"/>
    <div class="user-icon"></div>
    <input name="userId" type="password" class="input password" placeholder="User Id" [(ngModel)]="userId"/>
    <div class="pass-icon"></div>
  </div>

  <div class="footer">
    <a class="button" (click)="onResetPassword()">Reset Password</a>
  </div>
</form>

<div *ngIf=check style="background-color: red; opacity: 0.6; color: white; width: 50%; margin: 0 auto; ">
  <h3>An Email has been sent to your account to reset your password</h3>
</div>
