<div class="container">
<div class="row"  style="margin-top: 40px;">
  <div class="col-md-6 item-photo" style="margin-right: 60px;">
    <img style="max-width:100%;"  [src]=imgUrl />
  </div>
  <div class="col-md-4" style="border:0px solid gray">
    <!-- Datos del vendedor y titulo del producto -->
    <h3>{{book.title}}</h3>
    <h5 style="color:#337ab7">{{book.author}}</h5>

    <!-- Precios -->
    <h6 class="title-price"><small>Price</small></h6>
    <h3 style="margin-top:0px;">Rs.{{book.price}}</h3>

    <!-- Detalles especificos del producto -->
    <div class="section">
      <h6 class="title-attr" style="margin-top:15px;" ><small>{{book.seller.name}}</small></h6>
    </div>
    <div class="section" style="padding-bottom:5px;">
      <h6 class="title-attr"><small>{{book.seller.contact}}</small></h6>
    </div>
    <div class="section" style="padding-bottom:20px;">
      <h6 class="title-attr"><small>{{book.seller.email}}</small></h6>
    </div>
    <div class="section" style="padding-bottom:20px;">
      <h6 class="title-attr"><small>{{book.seller.address}}</small></h6>
    </div>

    <!-- Botones de compra -->
    <div class="section" style="padding-bottom:20px;">
      <button class="btn btn-success">Block</button>
    </div>
    <div class="section" style="padding-bottom:20px;">
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <ul class="menu-items">
        <li class="active">Description</li>
      </ul>
      <div style="width:100%;border-top:1px solid silver">
        <p style="padding:15px;">
          <small>
            {{book.description}}
          </small>
        </p>

      </div>
    </div></div>
</div>
