/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('./Images/stack_of_books.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
